<section id="instruments">
  <div class="flex flex-col mx-auto items-center justify-center p-8">
    <h3 class="text-white text-md font-semibold">Free Instruments & Samples</h3>
    <div class="flex flex-col space-y-4 mt-4">
      <!-- Item 1 -->
      <a
        href="https://www.pianobook.co.uk/packs/modular-808/"
        class="text-white- text-xs bg-lightPurple rounded-full p-4 w-72 text-center shadow-lg hover:scale-110 space-y-4 md:w-96"
      >
        <h2 class="text-white text-lg">Modular 808</h2>
        <!-- <img src="images/modular-808.png" alt="Modular 808" /> -->
      </a>
      <!-- Item 2 -->
      <a
        href="https://www.pianobook.co.uk/packs/thru-zero-e-piano/"
        class="text-white- text-xs bg-lightPurple rounded-full p-4 w-72 text-center shadow-lg hover:scale-110 space-y-4 md:w-96"
      >
        <h2 class="text-white text-lg">Thru Zero E-Piano</h2>
        <!-- <img src="images/thru-zero.png" alt="Thru Zero E-Piano" /> -->
      </a>
      <!-- Item 3 -->
      <a
        href="https://www.pianobook.co.uk/packs/dusty-rings-keys/"
        class="text-white- text-xs bg-lightPurple rounded-full p-4 w-72 text-center shadow-lg hover:scale-110 space-y-4 md:w-96"
      >
        <h2 class="text-white text-lg">Dusty Rings Keys</h2>
        <!-- <img src="images/dusty-rings.png" alt="Dusty Rings Keys" /> -->
      </a>
      <!-- Item 4 -->
      <a
        href="https://calicolive.gumroad.com/l/10analogkicks"
        class="text-white- text-xs bg-lightPurple rounded-full p-4 w-72 text-center shadow-lg hover:scale-110 space-y-4 md:w-96"
      >
        <h2 class="text-white text-lg">Analog Kicks</h2>
        <!-- <img src="images/analog-kicks.png" alt="" /> -->
      </a>
    </div>
  </div>
</section>

<script>
  // Select all slides
  const slides = document.querySelectorAll(".slide");

  // loop through slides and set each slides translateX property to index * 100%
  slides.forEach((slide, indx) => {});
</script>
